{% extends 'layout.html' %}
{% block content %}

<h2> Add a New Dinosaur</h2>
<form method="POST" action="/add_dinosaur" enctype="multipart/form-data">

    <label for="name">Dinosaur Name</label><br>
    <input type="text" name="name" required><br><br>

    <label for="diet">Diet</label><br>
    <input type="text" name="diet" required><br>

    <label for="habitat">Habitat</label><br>
    <input type="text" name="habitat" required><br>

    <label for="location">Location</label><br>
    <input type="text" name="location" required><br>

    <label for="description">Description</label><br>
    <input type="text" name="description" required><br>

    <label for="license_info">Image License</label><br>
    <input type="text" name="license_info" required><br>

    <label>Era</label><br>
    {% for era in all_eras %}
        <input type="checkbox" name="eras" value="{{era[0]}}"> {{era[1]}}<br>
    {% endfor %}

        <br>
        
        <label for="image">Upload Image</label><br>
        <input type="file" id="image" name="image" accept="image/*"><br><br>

        <button type="submit">Save Dinosaur</button>

</form>

<!--allow enter key to move between form fields-->
<script>
const fields = document.querySelectorAll(
    'input[type="text"],textarea'
);

fields.forEach((field, index) => {
    field.addEventListener('keydown', function(event) {
        if (event.key == 'Enter') {
            event.preventDefault();

            if (fields[index + 1]) {
                fields[index + 1].focus();
            }
        }
    });
});
</script>

{% endblock %}
